# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


# unity ignore dir
/[Bb]in/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/

 
# unity ignore file
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.meta
*.tmp
 
# need include the meta of file
!*.*.meta

# packages
Arkham Interactive/



